<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="NotificacionEM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <NotificacionEM.Properties.Settings>
            <setting name="NotificacionEM_WSEncuestaMovil_WSEncuestaMovil"
                serializeAs="String">
                <value>http://localhost/WS_EncuestaMovil/WSEncuestaMovil.asmx</value>
            </setting>
        </NotificacionEM.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="LlavePrivada" value="6jnjetNbU2Uq0B5KgWA8q4mN/CAUjNky6srRT9nifBKkhHPpG+Fa1UCvhZ1mFh9I"/>
    <add key="LlavePublica" value="6jnjetNbU2Uq0B5KgWA8q4mN/CAUjNky6srRT9nifBLD0GltgN2dQYv0fD1f7s24"/>
    <!--Registro de codificacion-->
    <add key="Registro" value="7086JJIiERtAGkjaKyEvQI/g4iICHg/DUc0XgXEFsQU="/>
    <add key="LlaveAccesoHTTPS" value="NUUGbMUOeJwb7vtZL2sbkm7cAjlIccwnkC+weQWn1Tc="/>
  </appSettings>

</configuration>
