<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <webServices>
      <protocols>
        <add name="AnyHttpSoap"/>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
        <add name="Documentation"/>
      </protocols>      
      <!--<wsdlHelpGenerator href="DefaultWsdlHelpGenerator.aspx"/>-->
    </webServices>
	</system.web>
	<appSettings>
		<!--CONEXION BD PROD-->
		<add key="cnAztMusUser" value="lMOobVb4naoLpsW2knQ/9/TOGJ6WbaqdO5vqi7HefwY="/>
		<add key="cnAztMusPwd" value="2LMBMLZ1uWY4RAa1HZ+CnmwFMXruKTT3XXnqg47mn58="/>
    <!-- PRODUCCION-->
    <add key="cnAztMusInstance" value="w4PSbl+a0wkPZ046ZzRBZA=="/>
    <!-- QA-->
    <!--<add key="cnAztMusInstance" value="23PCKFUlfn7k1zBQyid3NA=="/>-->
    <!-- DES03 -->
    <!--<add key="cnAztMusInstance" value="p4bj2Bum3g97zEvXSxyNvw=="/>-->
		<!--PGP-->
		<add key="LlavePrivada" value="6jnjetNbU2Uq0B5KgWA8q4mN/CAUjNky6srRT9nifBKkhHPpG+Fa1UCvhZ1mFh9I"/>
		<add key="LlavePublica" value="6jnjetNbU2Uq0B5KgWA8q4mN/CAUjNky6srRT9nifBLD0GltgN2dQYv0fD1f7s24"/>
		<!--Registro de codificacion-->
		<add key="Registro" value="7086JJIiERtAGkjaKyEvQI/g4iICHg/DUc0XgXEFsQU="/>
    <add key="LlaveAccesoHTTPS" value="NUUGbMUOeJwb7vtZL2sbkm7cAjlIccwnkC+weQWn1Tc="/>
	</appSettings>
</configuration>
